<html>
<head>
</head>
<body>
<a href="/">Home | </a>
<a href="/tags">Manage Tags | </a>
<a href="/groups">Manage Groups | </a>
<a href="/follow">Manage Follows | </a>
<a href="/logout">Logout</a>



<!-- Create Group-->
<form action="/createGroup" method="POST">
	<h1>Welcome {{username}}</h1> 
	<input type="text" name = "group" placeholder="Create a Group" required/>
    <input type="submit" value = Create />
</form>

<!-- Messages -->
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      {{message}}
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<!-- ADD PEOPLE TO GROUP (DROP DOWN)-->

<style type="text/css">
	table, th, td{
		border: 1px solid black;
	}
</style>

<!-- Groups you Own-->

<b>Groups you Own:</b>
<table>
<tr> 	
	<th> Group Name </th>
  <th> Add someone </th>
</tr>
{% for group in own %}
<tr>
    <td>{{group.name}}</td>
    <td>
      <form action="{{ url_for('.groupManage', group_name = group.name) }}" method=post>
        <input type=submit value=View_Info>
      </form> 
    </td>
</tr>
{% endfor %}
</table>


<!-- Groups Part of -->
<b>Groups Part Of:</b>
<table>
<tr> 	
	<th> Group Name </th>
</tr>
{% for group in partOf%}
<tr>
    <td>{{group["groupName"]}}</td>
</tr>
{% endfor %}
</table>

</body>
</html>
